:root {
  --wine-red: #c7375f;
  --bright-red: #d42d2f;
  --dark-green: #344d2f;
  --light-green: #77a047;
  --gold: #fac57d;
  --snow: #f0f4f7;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: var(--dark-green);
  background-color: var(--snow);
}

.container {
  display: flex;
  flex-direction: column;
  background: var(--wine-red);
  color: var(--snow);
  padding: 1em 2em;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.countdown-display {
  font-size: 100px;
  margin: 0;
}

.countdown-text {
  margin-top: 0;
}

.countdown-time {
  display: flex;
  margin-top: 1.2rem;
}

.countdown-time > div {
  border: 1px solid #fff;
  border-radius: 5px;
  width: 60px;
  margin: 0 0.4rem;
  padding: 1rem;
  background-color: #4e7720;
  box-shadow: 0 0 8px white;
}

.time-title {
  font-weight: bold;
  font-size: 1.6rem;
  margin: 0;
}

.time-label {
  margin: 0;
}
